*{
  background-color: gray;
}
.randomize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh; 
  margin: 0 auto; 
  border-radius: 8px;
}

.randomize:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.race-skills-container {
  text-align: center;
}

.stats-container {
  text-align: center;
}

.life-container {
  text-align: center;
}

.centered {
  margin: 0 auto;
  width: 50%; 
}